<header>
  <div class="header-main">
    <div class="decore">
      <app-cart-length></app-cart-length>
    </div>
    <div class="header-left">
      <div [routerLink]="'/'" class="logo" style="cursor: pointer;">
        <h3><span>GM</span>Football Shop</h3>
      </div>
    </div>
    <div class="header-right">
      <div class="hamburger-menu" (click)="menu = true;">
        <img [src]="'/assets/images/hamburger.png'">
      </div>
      <ul>
        <li [routerLink]="'/'">Home</li>
        <li [routerLink]="'/contactPage'">Contact</li>
        <li [routerLink]="'/aboutPage'">About</li>
        <li [routerLink]="'/cartPage'">Cart</li>
      </ul>
    </div>
  </div>
</header>
<div *ngIf="menu" class="menu">
  <div class="menu-links">
    <ul>
      <span (click)="menu = false;">
        <img [src]="'/assets/images/X.png'">
      </span>
      <li [routerLink]="'/'" (click)="menu = false">Home</li>
      <li [routerLink]="'/contactPage'" (click)="menu = false">Contact</li>
      <li [routerLink]="'/aboutPage'" (click)="menu = false">About</li>
      <li [routerLink]="'/cartPage'" (click)="menu = false">Cart</li>
    </ul>
  </div>
</div>
