.header-main {
  width: 100%;
  height: 58px;
  background: linear-gradient(90deg, rgba(0,255,243,1) 0%, rgba(9,43,121,1) 56%, rgba(243,0,255,1) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 170px;
  position: relative;
  z-index: 15;
  .decore {
    position: absolute;
    right: 147px;
    top: 8px;
    z-index: 20;
  }
  .header-left {
    .logo {
      display: flex;
      flex-direction: row;
      column-gap: 15px;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
      }
      h3 {
        color: #fff;
        font-size: 30px;
        font-weight: 300;
        span {
          text-decoration: line-through;
        }
      }
    }
  }
  .header-right {
    display: flex;
    flex-direction: row;
    column-gap: 0px;
    .hamburger-menu {
      display: none;
      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      column-gap: 75px;
      li {
        list-style: none;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        position: relative;
        &::after {
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;
          width: 0%;
          height: 2px;
          background-color: #fff;
          transition: 0.2s;
          }
          &:hover::after {
              width: 100%;
              transition: 0.2s;
          }
      }
    }
  }
}
.menu {
  z-index: 90;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    inset: 0;
    opacity: 0.9;
    background-color: #010911;
    z-index: 95;
  }
  .menu-links {
    position: relative;
    z-index: 96;
    width: 100%;
    text-align: center;
    margin-top: 0;
    ul {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      position: relative;
      span {
        position: absolute;
        right: 50px;
        top: -150px;
        z-index: 100;
        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          transform: rotate(90deg);
        }
        &:active {
            color: #4194c1;
            border-color: #4194c1;
          }
        }
        li {
          list-style: none;
          color: #fff;
          font-size: 30px;
          &:hover {
              color: #4194c1;
          }
        }
    }
  }
}

@media (max-width : 1071px){
  .header-main {
    padding: 15px 100px;
  }
}
@media (max-width : 980px){
  .header-main {
    padding: 15px 100px;
    .header-right {
      ul {
        column-gap: 50px;
      }
    }
  }
}
@media (max-width : 841px){
  .header-main {
    padding: 15px 100px;
    .header-right {
      ul {
        column-gap: 35px;
        li {
          font-size: 17px;
        }
      }
    }
  }
}
@media (max-width : 761px){
  .header-main {
    padding: 15px 100px;
    .header-left {
      .logo {
        h3 {
          font-size: 25px;
        }
      }
    }
    .header-right {
      ul {
        column-gap: 35px;
        li {
          font-size: 17px;
        }
      }
    }
  }
}
@media (max-width : 711px){
  .header-main {
    padding: 15px 70px;
    .header-left {
      .logo {
        h3 {
          font-size: 25px;
        }
      }
    }
    .header-right {
      ul {
        column-gap: 35px;
        li {
          font-size: 17px;
        }
      }
    }
  }
}
@media (max-width : 651px){
  .header-main {
    padding: 15px 30px;
    .header-left {
      .logo {
        h3 {
          font-size: 25px;
        }
      }
    }
    .header-right {
      ul {
        column-gap: 35px;
        li {
          font-size: 17px;
        }
      }
    }
  }
}
@media (max-width : 581px){
  .header-main {
    padding: 15px 30px;
    .header-left {
      .logo {
        h3 {
          font-size: 22px;
        }
      }
    }
    .header-right {
      ul {
        column-gap: 35px;
        li {
          font-size: 16px;
        }
      }
    }
  }
}
@media (max-width : 531px){
  .header-main {
    padding: 15px 30px;
    .header-left {
      .logo {
        h3 {
          font-size: 22px;
        }
      }
    }
    .header-right {
      ul {
        column-gap: 22px;
        li {
          font-size: 16px;
        }
      }
    }
  }
}
@media (max-width : 491px){
  .header-main {
    padding: 15px 30px;
    .header-left {
      .logo {
        h3 {
          font-size: 19px;
        }
      }
    }
    .header-right {
      ul {
        column-gap: 22px;
        li {
          font-size: 15px;
        }
      }
    }
  }
}
@media (max-width : 461px){
  .header-main {
    padding: 15px 50px;
    .header-left {
      .logo {
        h3 {
          font-size: 22px;
        }
      }
    }
    .header-right {
      .hamburger-menu {
        display: flex;
      }
      ul {
        display: none;
        column-gap: 22px;
        li {
          font-size: 15px;
        }
      }
    }
  }
}
