.carousel-main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  position: relative;
  .btn-carousel {
    margin: 0px 45px;
    button {
      width: 50px;
      height: auto;
      background-color: transparent;
      border: none;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:active {
        transform: scale(1.05);
      }
      .right-icon {
        transform: rotate(180deg);
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
.carousel-container {
  position: relative;
  width: 700px;
  text-align: center;
  img {
    display: none;
    &.image-active {
      display: block;
      width: 100%;
      height: 400px;
    }
  }
}
.fade {
  animation-name: fade;
  animation-duration: 1s;
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}

.carousel-dot-container {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -10px;
  display: flex;
  justify-content: center;
  .dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0px 5px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.6s ease;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  .active {
    opacity: 1;
  }

}
@media (max-width : 1191px) {
  .carousel-container {
    img {
      &.image-active {
        height: 350px;
      }
    }
  }
}
@media (max-width : 857px) {
  .carousel-main {
    .btn-carousel {
      margin: 0px 10px;
    }
  }
}
@media (max-width : 857px) {
  .carousel-main {
    .btn-carousel {
      margin: 0px 10px;
    }
    .carousel-container {
      img {
        &.image-active {
          height: 300px;
        }
      }
    }
  }
}
@media (max-width : 553px) {
  .carousel-main {
    .btn-carousel {
      margin: 0px 10px;
      button {
        width: 30px;
      }
    }
    .carousel-container {
      img {
        &.image-active {
          height: 250px;
        }
      }
    }
  }
}
@media (max-width : 429px) {
  .carousel-main {
    .btn-carousel {
      margin: 0px 10px;
      button {
        width: 30px;
      }
    }
    .carousel-container {
      img {
        &.image-active {
          height: 200px;
        }
      }
    }
  }
}
@media (max-width : 379px) {
  .carousel-main {
    .btn-carousel {
      margin: 0px 10px;
      button {
        width: 30px;
      }
    }
    .carousel-container {
      img {
        &.image-active {
          height: 180px;
        }
      }
    }
  }
}
