.container {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0px 5px 7px #b8b8b8;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  padding: 10px 10px;
  position: relative;
  transition: 0.3s;
  &:hover {
    box-shadow: 0px 5px 9px #7fbc7f;
    transition: 0.3s;
  }
  .brand {
    position: absolute;
    z-index: 4;
    top: 15px;
    left: 20px;
    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
  }
  .image {
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
  .title {
    width: 100%;
    height: 35px;
    p {
      color: #000;
      font-size: 17px;
      text-align: center;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .price-cart {
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .price {
      p {
        color: #d81010;
      }
    }
    .add-cart {
      display: flex;
      align-items: center;
      flex-direction: row;
      column-gap: 10px;
      padding: 3px 10px;
      border: 1px solid #cacaca;
      border-radius: 6px;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        border: 1px solid #000;
        transition: 0.2s;
      }
      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
        object-fit: cover;
      }
    }
  }
}
@media (max-width : 1246px) {
  .container {
    .image {
      img {
        height: 170px;
      }
    }
  }
}
@media (max-width : 1246px) {
  .container {
    .image {
      img {
        height: 130px;
      }
    }
  }
}
@media (max-width : 1101px) {
  .container {
    .image {
      img {
        height: 130px;
      }
    }
    .title {
      p {
        font-size: 14px;
      }
    }
    .price-cart {
      .add-cart {
        p {
          font-size: 14px;
        }
        img {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
@media (max-width : 981px) {
  .container {
    .image {
      img {
        height: 130px;
      }
    }
    .brand {
      img {
        width: 19px;
        height: 19px;
      }
    }
    .title {
      p {
        font-size: 14px;
      }
    }
    .price-cart {
      .add-cart {
        p {
          font-size: 14px;
        }
        img {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
@media (max-width : 961px) {
  .container {
    .image {
      img {
        height: 130px;
      }
    }
    .brand {
      img {
        width: 19px;
        height: 19px;
      }
    }
    .title {
      p {
        font-size: 16px;
      }
    }
    .price-cart {
      .add-cart {
        p {
          font-size: 16px;
        }
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
@media (max-width : 850px) {
  .container {
    .image {
      img {
        height: 130px;
      }
    }
    .brand {
      img {
        width: 19px;
        height: 19px;
      }
    }
    .title {
      p {
        font-size: 14px;
      }
    }
    .price-cart {
      .add-cart {
        p {
          font-size: 14px;
        }
        img {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
@media (max-width : 736px) {
  .container {
    .image {
      img {
        height: 130px;
      }
    }
    .brand {
      img {
        width: 19px;
        height: 19px;
      }
    }
    .title {
      p {
        font-size: 16px;
      }
    }
    .price-cart {
      .add-cart {
        p {
          font-size: 16px;
        }
        img {
          width: 19px;
          height: 19px;
        }
      }
    }
  }
}
@media (max-width : 690px) {
  .container {
    .image {
      img {
        height: 130px;
      }
    }
    .brand {
      img {
        width: 19px;
        height: 19px;
      }
    }
    .title {
      p {
        font-size: 14px;
      }
    }
    .price-cart {
      .add-cart {
        p {
          font-size: 14px;
        }
        img {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
@media (max-width : 565px) {
  .container {
    row-gap: 5px;
    .image {
      img {
        height: 130px;
      }
    }
    .brand {
      img {
        width: 19px;
        height: 19px;
      }
    }
    .title {
      p {
        font-size: 14px;
      }
    }
    .price-cart {
      .add-cart {
        p {
          font-size: 14px;
        }
        img {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}