h1 {
  margin-bottom: 40px;
  font-size: 40px;
}
.cart-page-main {
  width: 1220px;
  min-height: 80vh;
  margin: 42px 250px;
  .containers-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 70px;
      .title {
        width: 230px;
        p {
          font-size: 20px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .price {
        width: 30px;
        p {
          font-size: 20px;
          color: red;
        }
      }
      .brand {
        width: 30px;
        img {
          width: 30px;
          height: 30px;
          object-fit: cover;
        }
      }
    }
  }
}