<div class="categories">
  <div class="cleats-page-main">
    <div class="containers-header">
      <div class="header-left">
        <div class="search">
          <input type="text"
            [(ngModel)]="searchValue"
            (input)="searchItem()"
            placeholder="Search"
            />
          <img [src]="'/assets/images/search-icon.png'">
        </div>
        <div class="brand">
          <select name="brand" id="brand"
            [(ngModel)]="searchBrandValue"
            (input)="searchItemBrand()"
          >
            <option value="">Choice Brand</option>
            <option value="nike">NIKE</option>
            <option value="adidas">Adidas</option>
            <option value="puma">Puma</option>
          </select>
        </div>
      </div>
      <div class="header-right">
        <img (click)="listChangeRow()" [src]="'/assets/images/row3-cion.png'">
        <img (click)="listChangeColumn()" [src]="'/assets/images/column-icon.png'">
      </div>
    </div>
    <div class="containers-list" [class.list]="listColumn" [class.rowList]="listRow">
          <ng-container *ngFor="let singleCleat of balls; let i = index">
            <ng-container *ngIf="searchBrandValue === '' || singleCleat.brand.toLowerCase().includes(searchBrandValue)">
              <ng-container *ngIf="searchValue === '' || singleCleat.title.toLowerCase().includes(searchValue)">
                <app-ball [ball]="singleCleat"></app-ball>
              </ng-container>
            </ng-container>    
          </ng-container>
    </div>
  </div>
</div>
