<app-header></app-header>
<app-aside></app-aside>
<div class="about-main">
  <div class="container">
    <h1>About WebSite</h1>
    <p>
      The website is for an online store for football items, Find the desired product, add it to the cart and finally buy it,
      Both the idea and design of the website are full responsive including 375px,
      1 used Angular(HTML5, SCSS,
      TypeScript, Firebase) to build a site.
      There is a header on the product pages, which makes it easier to choose the desired item According to brand, name and price increase or lack.
      We can add product to cart from product pages and also delete it, as you wish
    </p>
    <p>

    </p>
  </div>
</div>
<app-footer></app-footer>
