<div class="container">
  <div class="brand">
    <img [src]="ball.brand">
  </div>
  <div class="image">
    <img [src]="ball.image">
  </div>
  <div class="title">
    <p [routerLink]="'/itemPage'">{{ ball.title }}</p>
  </div>
  <div class="price-cart">
    <div class="price">
      <p>${{ ball.price }}</p>
    </div>
    <div *ngIf="!isInCart" (click)="addToCard()" class="add-cart">
      <p>Add to cart</p>
      <img (click)="addToCard()" [src]="'/assets/images/cart-icon.png'">
    </div>
    <div *ngIf="isInCart" class="add-cart" (click)="removeFromCart()" >
      <p>Remove from cart</p>
      <img [src]="'/assets/images/remove-icon.png'">
    </div>
  </div>
</div>
