<aside>
  <div class="click" (click)="openAside = true;">
    <div class="decore">
      <img [src]="'/assets/images/categories.png'">
      <img [src]="'/assets/images/categories.png'">
      <img [src]="'/assets/images/categories.png'">
      <img [src]="'/assets/images/categories.png'">
      <img [src]="'/assets/images/categories.png'">
      <img [src]="'/assets/images/categories.png'">
      <img [src]="'/assets/images/categories.png'">
      <img [src]="'/assets/images/categories.png'">
      <img [src]="'/assets/images/categories.png'">



    </div>
    <div class="title">
      <h1>C<br>A<br>T<br>E<br>G<br>O<br>R<br>I<br>E<br>S</h1>
    </div>
  </div>
  <div class="aside-main" [class.open-aside]="openAside">
    <div class="aside-header" (click)="openAside = false;">
      <img [src]="'/assets/images/categories.png'">
      <h3>CATEGORIES</h3>
    </div>
    <div class="aside-links">
      <ul>
        <li [routerLink]="'/cleatsPage'">
          <img [src]="'/assets/images/right-arrow-aside.png'">
          Cleats
        </li>
        <li [routerLink]="'/ballsPage'">
          <img [src]="'/assets/images/right-arrow-aside.png'">
          Balls
        </li>
        <li [routerLink]="'/jerseyPage'">
          <img [src]="'/assets/images/right-arrow-aside.png'">
          Jersey
        </li>
        <li [routerLink]="'/shortsPage'">
          <img [src]="'/assets/images/right-arrow-aside.png'">
          Shorts
        </li>
        <li [routerLink]="'/baseLayersPage'">
          <img [src]="'/assets/images/right-arrow-aside.png'">
          Base Layers
        </li>
      </ul>
    </div>
  </div>
</aside>
