<app-header></app-header>
<app-aside></app-aside>
<div class="home-page-main">
  <div class="container-list">
    <div class="top">
      <div [routerLink]="'/cleatsPage'" class="container cleats">
        <div class="title">
          <h3>Cleats</h3>
        </div>
      </div>
      <div [routerLink]="'/ballsPage'" class="container balls">
        <div class="title">
          <h3>Balls</h3>
        </div>
      </div>
      <div [routerLink]="'/jerseyPage'" class="container jersey">
        <div class="title">
          <h3>Jerseys</h3>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div [routerLink]="'/shortsPage'" class="container shorts">
        <div class="title">
          <h3>Shorts</h3>
        </div>
      </div>
      <div [routerLink]="'/baseLayersPage'" class="container base">
        <div class="title">
          <h3>Base Layers</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>