.contact-main {
  width: 100%;
  min-height: 82vh;
  padding: 100px 300px;
  display: flex;
  align-items: top;
  justify-content: space-between;
  .contact-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    .container {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      flex-direction: row;
      column-gap: 15px;
      .container-left {
        img {
          width: 80px;
          height: 80px;
          object-fit: cover;
        }
      }
      .container-right {
        h1 {
          color: #181818;
          font-size: 35px;
          margin-top: -7px;
        }
        p {
          font-size: 19px;
        }
        a {
          font-size: 19px;
          text-decoration: underline;
          color: #000;
        }
      }
    }
  }
}

@media (max-width : 1246px) {
  .contact-main {
    padding: 100px 200px;
  }
}
@media (max-width : 1137px) {
  .contact-main {
    padding: 100px 100px;
  }
}
@media (max-width : 924px) {
  .contact-main {
    padding: 100px 100px;
    .contact-container {
      .container {
        .container-left {
          img {
            width: 50px;
            height: 50px;
          }
        }
        .container-right {
          h1 {
            font-size: 30px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (max-width : 924px) {
  .contact-main {
    padding: 100px 100px;
    .contact-container {
      .container {
        .container-left {
          img {
            width: 50px;
            height: 50px;
          }
        }
        .container-right {
          h1 {
            font-size: 30px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (max-width : 801px) {
  .contact-main {
    padding: 100px 70px;
    .contact-container {
      .container {
        .container-left {
          img {
            width: 40px;
            height: 40px;
          }
        }
        .container-right {
          h1 {
            font-size: 25px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (max-width : 801px) {
  .contact-main {
    padding: 100px 70px;
    .contact-container {
      .container {
        .container-left {
          img {
            width: 30px;
            height: 30px;
          }
        }
        .container-right {
          h1 {
            font-size: 22px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (max-width : 645px) {
  .contact-main {
    padding: 60px 70px;
    flex-direction: column;
    row-gap: 20px;
    .contact-container {
      .container {
        .container-left {
          img {
            width: 30px;
            height: 30px;
          }
        }
        .container-right {
          h1 {
            font-size: 22px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}