<app-header></app-header>
<app-aside></app-aside>
<div class="contact-main">
  <div class="contact-container">
    <!-- Email -->
    <div class="container">
      <div class="container-left">
        <img [src]="'/assets/images/email.png'">
      </div>
      <div class="container-right">
        <h1>Email</h1>
        <p>mindiashvilife@gmail.com</p>
      </div>
    </div>
    <!-- Linkedin -->
    <div class="container">
      <div class="container-left">
        <img [src]="'/assets/images/in-icon.png'">
      </div>
      <div class="container-right">
        <h1>Linkedin</h1>
        <a href="https://www.linkedin.com/in/giorgi-mindiashvili-287309261/" target="_blank">Linkedin URL</a>
      </div>
    </div>
    <!-- GitHub -->
    <div class="container">
      <div class="container-left">
        <img [src]="'/assets/images/git-icon.png'">
      </div>
      <div class="container-right">
        <h1>GitHub</h1>
        <a href="https://github.com/MindiashviliGiorgi" target="_blank">GitHub URL</a>
      </div>
    </div>
  </div>
  <div class="contact-container right">
    <!-- Phone -->
    <div class="container">
      <div class="container-left">
        <img [src]="'/assets/images/phone.png'">
      </div>
      <div class="container-right">
        <h1>Phone</h1>
        <p>+995598006658</p>
      </div>
    </div>
    <!-- Location -->
    <div class="container">
      <div class="container-left">
        <img [src]="'/assets/images/location.png'">
      </div>
      <div class="container-right">
        <h1>Location</h1>
        <p>Tbilisi, Georgia</p>
      </div>
    </div>
    <!-- Web -->
    <div class="container">
      <div class="container-left">
        <img [src]="'/assets/images/web.png'">
      </div>
      <div class="container-right">
        <h1>Another WebSite</h1>
        <a target="_blank" href="https://travelgm-2b9da.web.app/?fbclid=IwAR2DdipCELec04ZRprgQjv01N-EdprNCxYRtHAVYzG1v9aszP3Djhk7drpg">WebSite URL</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
